<body>
    <div class="page-header">
        <h1><a href="/">LadderCompetitie</a></h1>
        <a href="/admin">admin</a>
        {%if user.is_authenticated%}
        <h4>Logged in as {{user}} <a href="{%url 'logout'%}">logout</a></h4>
        {%else%}
        <a href="{%url 'login'%}">login</a>
        {%endif%}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
