{% extends 'laddercompetitie/base.html' %}
{% load static %}

{% block content %}
    <h1>Challenges</h1>

    <h2><a href="{% url 'challenge-create' %}">create new challenge</a></h2>

    <ul>
    {% for challenge in challenge_list %}

        <li>
          {{ challenge }}
          {% if challenge.accepted %}
            &#10004
          {% else %}
            &#10007;
          {% endif %}
          <a href="{% url 'challenge-edit' challenge.pk%}">edit</a>
          <a href="{% url 'challenge-delete' challenge.pk%}">delete</a>
        </li>

    {% endfor %}
    </ul>

{% endblock %}
