{% extends 'laddercompetitie/base.html' %}
{% load static %}

{% block content %}
    <h1>Ladders</h1>
    {% if user.is_superuser %}
    <h2><a href="{% url 'ladder-create' %}"> New ladder</a></h2>
    {% endif %}

    </div>
    <ul>
    {% for ladder in ladder_list %}

        <li>
          <a href="{% url 'ladder-detail' ladder.slug %}">{{ ladder.name }}</a>
        </li>

    {% endfor %}
    </ul>

    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <h2><a href="{% url 'challenge-list'%}">Challenges</a></h2>
      <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a> |
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock %}
