{% extends 'laddercompetitie/base.html' %}

{% block content %}
  <p>Are you sure you want to register for "{{ ladder }}"?</p>

  <form method="post">{% csrf_token %}
      <input type="submit" value="Register">
  </form>


{% endblock %}
