{% extends 'laddercompetitie/base.html' %}

{% block content %}
{% load app_filters %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_superuser %}
<h3><a href="{% url 'ladder-edit' ladder.slug %}"> Edit ladder</a></h3>
<h3><a href="{% url 'ladder-delete' ladder.slug %}"> Delete ladder</a></h3>
{% endif %}
  <h1>{{ ladder.name }}</h1>

  {% if not registered %}
  <h2><a href="{% url 'ladder-register' ladder.slug %}">Register</a></h2>
  {% else %}
  <h2><a href="{% url 'ladder-deregister' ladder.slug %}">Deregister</a></h2>
  {% endif %}

  <ul>
      {%for player in players%}
        <li>{{player|rank:ladder}} {{player}}</li>
      {% empty %}
        <h3>No registered players</h3>
      {% endfor %}

  </ul>




{% endblock %}
